@font-face {
    font-family: "icon";
    src:url("../assets/fonts/icon.eot");
    src:url("../assets/fonts/icon.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/icon.woff") format("woff"),
    url("../assets/fonts/icon.ttf") format("truetype"),
    url("../assets/fonts/icon.svg#szc") format("svg");
}

[class^="icon-"], [class*=" icon-"] {
    &:before, &:after {
        font-family: 'icon';
    }
}


.icon-filter {
    &:before {
        content: "d";
    }
}


@font-face {
    font-family: 'Glyphicons Halflings';
    src: url("../initial/fonts/glyphicons-halflings-regular.eot");
    src: url("../initial/fonts/glyphicons-halflings-regular.eot?#iefix") format("embedded-opentype"), url("../css/fonts/glyphicons-halflings-regular.woff") format("woff"), url("../initial/fonts/glyphicons-halflings-regular.ttf") format("truetype"), url("../css/initial/glyphicons-halflings-regular.svg#glyphicons_halflingsregular") format("svg")
}

.glyphicon {
    position: relative;
    top: 2px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.glyphicon-calendar:before {
    content: "\e109"
}


