@font-face {
    font-family: "icon";
    src:url("../assets/fonts/icon.eot");
    src:url("../assets/fonts/icon.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/icon.woff") format("woff"),
    url("../assets/fonts/icon.ttf") format("truetype"),
    url("../assets/fonts/icon.svg#szc") format("svg");
}

[class^="icon-"], [class*=" icon-"] {
    &:before, &:after {
        font-family: 'icon';
    }
}


.icon-filter {
    &:before {
        content: "d";
    }
}