#login{
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    position: absolute;
    top:30%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    .row .row{
        margin: 0;
    }
}