.wrapper{
    height: 100%;
    padding: 20px 0;
    overflow: hidden;
    .row{
        max-width: 1280px;
    }

    .data-win{
        border: 1px solid #ccc;
        border-radius: 5px;
        padding: 20px 10px;
        height: 458px;
        overflow-y: auto;
        word-break: break-all;
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #2ba6cb;
        }
    }

    .screenchot{
        h3{
            text-align: center;
        }
        ul{
            margin: 0;
            li{
                padding: 20px 0;
                list-style-type: none;
                text-align: center;
            }
        }
    }
}
#categories {
    font-size: 14px;
}
#task_list{

    ul{
        padding-right: 10px;
        //max-height: 100vh;
        height: 100%;
        position: relative;
        overflow: auto;
        &::-webkit-scrollbar {
            width: 8px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
            background-color: #2ba6cb;
        }
        margin: 0;
        li{
            list-style-type: none;
        }

    }
    .task-list-class{
        padding: 10px;
        margin: 10px 0;
        color: blue;
        span{
            &:first-child{
                padding-right: 6px;
            }
            border-bottom:1px solid  ;
        }
        &.active{
            color: red;
        }
        &:hover{
            cursor: pointer;
            span{
                border: none;
            }
        }
        &:first-child{
            margin-top: 0;
        }

    }
}
#prod-info{
    font-weight: bold;
    line-height: 40px;
}
.hidden{
    display: none;
}
.clearfix{
    clear: both;
}
#status{
    padding: .57em 0.66em;
    font-weight: bold;
    &.button[data-status="1"]{
        background: #d6d65c;
    }
    &.button[data-status="0"]{
        background: #44a4ff;
    }
    &.button[data-status="2"]{
        background: green;
    }
    &.button[data-status="-1"]{
        background: red;
    }
}
#quick-search{
    width: 100%;
    max-width: 50px;
}
#delete_task_id{
    padding: .57em 0.66em;
}

table{
    width: 100%;
    background: #FFFFFF;
    border: solid 1px #DDDDDD;
    margin-bottom: 1.11111rem;
    table-layout: auto;

    &#all-user-table, &#goods{
        text-align: center;
        th,td{
            input{
                margin: 0;
                box-shadow: none;
                border-radius: 0;
                border: none;
            }
            border: 1px solid #DDDDDD;
            .switch,button{
                margin: 0;
            }
            select{
                width: 98%;
                margin: 3px 0;
            }
            .switch-paddle{
                vertical-align: middle;
            }
            &.js-code{
                input:not(:disabled){
                    &:hover{
                        cursor: pointer;
                    }
                }
            }
        }
        .hidden{
            display: none;
        }
    }
    &#goods{
        tbody{
            tr{
                &:hover{
                    background: #f1f1f1;
                }
                input{
                    &.error{
                        background: #9e0c0f;
                        color: #ffffff;
                    }
                }
            }
        }
    }
}
table thead {
    background: #F5F5F5;
}
table thead tr th, table thead tr td {

    color: #222222;
    border: 1px solid #DDDDDD;
    font-size: 0.77778rem;
    font-weight: bold;
    padding: 0.44444rem 0.55556rem 0.55556rem;

}

#per-page{
    max-width: 80px;
}
